<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="phpunit.xsd"
         bootstrap="vendor/autoload.php"
         verbose="true">
    <php>
        <env name="DB_CONNECTION" value="pgsql"/>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_PORT" value="5432"/>
        <env name="DB_DATABASE" value="minefopstat"/>
        <env name="DB_SCHEMA" value="minefopstat"/>
        <env name="DB_USERNAME" value="minefopstat"/>
        <env name="DB_PASSWORD" value="minefopstat"/>
    </php>
    <testsuites>
        <testsuite name="reset-migration">
            <file>src/Xolens/PgLarauser/Test/CleanSchemaTest.php</file>
        </testsuite> 
        <testsuite name="test-package">
            <file>src/Xolens/PgLarauser/Test/Repository/AccessRepositoryTest.php</file>
            <file>src/Xolens/PgLarauser/Test/Repository/ProfileRepositoryTest.php</file>
            <file>src/Xolens/PgLarauser/Test/Repository/GroupRepositoryTest.php</file>
            <file>src/Xolens/PgLarauser/Test/Repository/ProfileAccessRepositoryTest.php</file>
            <file>src/Xolens/PgLarauser/Test/Repository/UserRepositoryTest.php</file>
            <file>src/Xolens/PgLarauser/Test/Repository/LoginHistoryRepositoryTest.php</file>
            <file>src/Xolens/PgLarauser/Test/Repository/PasswordResetRepositoryTest.php</file>
        </testsuite>
        <testsuite name="test-packageview">
            <file>src/Xolens/PgLarauser/Test/Repository/View/AccessViewRepositoryTest.php</file>
            <file>src/Xolens/PgLarauser/Test/Repository/View/ProfileViewRepositoryTest.php</file>
            <file>src/Xolens/PgLarauser/Test/Repository/View/GroupViewRepositoryTest.php</file>
            <file>src/Xolens/PgLarauser/Test/Repository/View/ProfileAccessViewRepositoryTest.php</file>
            <file>src/Xolens/PgLarauser/Test/Repository/View/UserViewRepositoryTest.php</file>
            <file>src/Xolens/PgLarauser/Test/Repository/View/LoginHistoryViewRepositoryTest.php</file>
            <file>src/Xolens/PgLarauser/Test/Repository/View/PasswordResetViewRepositoryTest.php</file>
        </testsuite> 
    </testsuites>
</phpunit>